<div class="container">
    <h1>Search Documents</h1>
    <input type="text" placeholder="Search documents" [(ngModel)]="searchTerm" (focus)="showTabs()" (input)="filterDocuments()" />
    <div class="tabs" *ngIf="tabsVisible">
      <button (click)="setTab('jira')" [class.active]="activeTab === 'jira'">Jira</button>
      <button (click)="setTab('confluence')" [class.active]="activeTab === 'confluence'">Confluence</button>
    </div>
    
    <div *ngFor="let doc of filteredDocuments" class="document-item">
      <img [src]="doc.icon" alt="icon" />
      <div>
        <h3>
          <a [href]="getDocumentLink(doc)" target="_blank">{{doc.name || doc.summary || doc.title }}</a>
        </h3>
        <p>Created {{ doc.createdDate || doc.created_at }}</p>
      </div>
    </div>
  </div>