<div class="success-container">
    <div class="explore-section">
        <h1>
            <div class="first-line">
                Explore others' learning<img src="assets/images/meesage.png" alt="sparkle" class="meesage-icon"/>
            </div>
            <div class="second-line">successes.</div>
        </h1>
        
        <div class="testimonials">
            <div class="testimonial-card pink-border">
                <div ><img src="assets/images/styling.png" alt="quote" class="quote-icon"/></div>

                <blockquote>
                    "The courses transformed my coding skills, leading to greater efficiency in my projects. A true game-changer!"
                </blockquote>
                <p class="instructor">Instructor: Sarah Blake</p>
            </div>

            <div class="testimonial-card blue-border">
                <div><img src="assets/images/styling.png" alt="quote" class="quote-icon"/></div>
                <blockquote>
                    "The courses transformed my coding skills, leading to greater efficiency in my projects. A true game-changer!"
                </blockquote>
                <p class="instructor">Instructor: Sarah Blake</p>
            </div>

            <div class="testimonial-card light-blue-border">
                <div ><img src="assets/images/styling.png" alt="quote" class="quote-icon"/></div>
                <blockquote>
                    "The courses transformed my coding skills, leading to greater efficiency in my projects. A true game-changer!"
                </blockquote>
                <p class="instructor">Instructor: Sarah Blake</p>
            </div>
        </div>
    </div>

    <div class="contact-section ">
        <div >
            <h1>Got Questions or<br> Need guidance?</h1>
        </div>
        <div class="question-block ">
            <h6>Connect with our Learning & Development Team — we're here to help you succeed!</h6>
            <button class="contact-btn">Contact us</button>
        </div>
    </div>
</div>