<footer class="footer ">
  <div class="footer__left">
    <img src="assets/images/tech.png" alt="Tech logo" class="footer__logo">
    <p class="footer__text">Tech that Feels Human</p>
  </div>
  <div class="footer__right">
    <div class="footer__column">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">All Categories</a></li>
        <li><a href="#">New Arrivals</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <h4>Contact & Support</h4>
      <ul>
        <li><a href="#">Help Desk</a></li>
        <li><a href="#">Contact L&D Team</a></li>
      </ul>
    </div>
  </div>
</footer>
